*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#heading
{
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 10px;
}
body
{
    background: linear-gradient(to left, rgb(109, 102, 104) , rgb(219, 171, 49));
}

.container
{
    text-align: center;
    margin-top: 150px;
}

#display
{
    width: 300px;
        text-align: right;
        height: 50px;
        line-height: 30px;
        padding: 16px 8px;
        font-size: 25px;
        background-color: #fff;
        border: 1px solid black;
}
input {
    font-size: 34px;
    border: 3px solid rgb(51, 44, 44);
}
.calc
{
    border: 2px solid #fff;
    display: inline-block;
}
button{
    font-size: 20px;
    background: wheat;
    width: 72px;
    height: 60px;
    padding-top: 2px;
}
.buttons
{
    padding: 2px;
}
